In [15]:
import pandas as pd
import numpy as np
import phitech.helpers.sierra as pth_sierra
import matplotlib.pyplot as plt
from progiter import ProgIter
import time

In [2]:
pth_sierra.bento_to_scid(
    bento_zst_path="mes-bento-small.mbo.dbn.zst",
    target_path="/home/darchitect/wine-bottles/SierraChart/drive_c/SierraChart/Data/bento-small.scid"
)

load file
convert to df
make scid
bento -> primary
primary -> ticks
 100.00% 144287/144287... rate=3610.69 Hz, eta=0:00:00, total=0:00:40
write bytes to /home/darchitect/wine-bottles/SierraChart/drive_c/SierraChart/Data/bento-small.scid
done.

In [16]:
pth_sierra.bento_to_depth_slow(
    bento_zst_path='./mes-bento-small.mbo.dbn.zst',
    target_path='/home/darchitect/wine-bottles/SierraChart/drive_c/SierraChart/Data/MarketDepthData/bento-small.2024-06-20.depth',
    n_states=10
)

first -> MboMsg { hd: RecordHeader { length: 14, rtype: Mbo, publisher_id: GlbxMdp3Glbx, instrument_id: 7114, ts_event: 1718539204680368535 }, order_id: 0, price: UNDEF_PRICE, size: 0, flags: SNAPSHOT | BAD_TS_RECV (40), channel_id: 8, action: 'R', side: 'N', ts_recv: 1718841600000000000, ts_in_delta: 0, sequence: 0 }
instrument_id -> 7114
publisher_id -> 1
    0/?... rate=0 Hz, total=0:00:00n_states reached, break
shape bento_depth -> (211, 6)
first timestamp -> 2024-06-20 00:00:00.006000
last timestamp -> 2024-06-20 00:00:00.055000
 100.00% 211/211... rate=7966.27 Hz, eta=0:00:00, total=0:00:00
write bytes to /home/darchitect/wine-bottles/SierraChart/drive_c/SierraChart/Data/MarketDepthData/bento-small.2024-06-20.depth
done.

In [24]:
pth_sierra.bento_to_depth(
    input_filepath='./mes-bento-small.mbo.dbn.zst',
    output_filepath='/home/darchitect/wine-bottles/SierraChart/drive_c/SierraChart/Data/MarketDepthData/bento-small.2024-06-20.depth',
)

processed book states -> 10000
 100.00% 10298/10298... rate=8909.29 Hz, eta=0:00:00, total=0:00:01
write bytes to /home/darchitect/wine-bottles/SierraChart/drive_c/SierraChart/Data/MarketDepthData/bento-small.2024-06-20.depth
done.

In [19]:
res = pd.read_csv('temp.csv')
res

            timestamp  command  flag  orders    price  quantity
0    3928003199616000        1     0       0     0.00         0
1    3928003199616000        2     0      11  5538.00        53
2    3928003199616000        2     0       5  5538.25        41
3    3928003199616000        2     0       5  5538.50        41
4    3928003199616000        2     0       7  5538.75        45
..                ...      ...   ...     ...      ...       ...
206  3928003200013000        5     1      10  5563.00        21
207  3928003200052000        4     1      18  5562.25        40
208  3928003200054000        5     1       9  5563.00        19
209  3928003200055000        5     1       8  5563.00        16
210  3928003200055000        5     1       6  5563.00        14

[211 rows x 6 columns]

In [20]:
res_slow = pd.read_csv('temp_slow.csv')
res_slow = res_slow.sort_values(['timestamp', 'price']).reset_index().drop(columns=['index'])
res_slow

            timestamp  command  flag  orders    price  quantity
0    3928003199616000        1     0       0     0.00         0
1    3928003199616000        2     0      11  5538.00        53
2    3928003199616000        2     0       5  5538.25        41
3    3928003199616000        2     0       5  5538.50        41
4    3928003199616000        2     0       7  5538.75        45
..                ...      ...   ...     ...      ...       ...
206  3928003200013000        5     1      10  5563.00        21
207  3928003200052000        4     1      18  5562.25        40
208  3928003200054000        5     1       9  5563.00        19
209  3928003200055000        5     1       8  5563.00        16
210  3928003200055000        5     1       6  5563.00        14

[211 rows x 6 columns]