In [3]:
from __future__ import annotations
import numpy as np
from numpy import datetime64, timedelta64
import pandas as pd
from datetime import datetime, timedelta, timezone
from enum import IntEnum
from numpy import datetime64, timedelta64
from os import fstat
import struct
from struct import calcsize, Struct
from progiter import ProgIter

import os
from collections import defaultdict
from dataclasses import dataclass, field
import databento as db
from databento_dbn import FIXED_PRICE_SCALE, UNDEF_PRICE, BidAskPair
from sortedcontainers import SortedDict


@dataclass
class Order:
    id: int
    side: str
    price: int
    size: int
    ts_event: int
    is_tob: bool = field(default=False)


@dataclass
class LevelOrders:
    price: int
    orders: list[Order] = field(default_factory=list, compare=False)

    def __bool__(self) -> bool:
        return bool(self.orders)

    @property
    def level(self) -> PriceLevel:
        return PriceLevel(
            price=self.price,
            count=sum(1 for o in self.orders if not o.is_tob),
            size=sum(o.size for o in self.orders),
        )


@dataclass
class PriceLevel:
    price: int
    size: int = 0
    count: int = 0

    def __str__(self) -> str:
        price = self.price / FIXED_PRICE_SCALE
        return f"{self.size:4} @ {price:6.2f} | {self.count:2} order(s)"


@dataclass
class Book:
    orders_by_id: dict[int, Order] = field(default_factory=dict)
    offers: SortedDict[int, LevelOrders] = field(default_factory=SortedDict)
    bids: SortedDict[int, LevelOrders] = field(default_factory=SortedDict)

    def bbo(self) -> tuple[PriceLevel | None, PriceLevel | None]:
        return self.get_bid_level(), self.get_ask_level()

    def get_bid_level(self, idx: int = 0) -> PriceLevel | None:
        if self.bids and len(self.bids) > idx:
            # Reverse for bids to get highest prices first
            return self.bids.peekitem(-(idx + 1))[1].level
        return None

    def get_ask_level(self, idx: int = 0) -> PriceLevel | None:
        if self.offers and len(self.offers) > idx:
            return self.offers.peekitem(idx)[1].level
        return None

    def get_bid_level_by_px(self, px: int) -> PriceLevel | None:
        try:
            return self._get_level(px, "B").level
        except KeyError:
            return None

    def get_ask_level_by_px(self, px: int) -> PriceLevel | None:
        try:
            return self._get_level(px, "A").level
        except KeyError:
            return None

    def get_snapshot(self, level_count: int = 1) -> list[BidAskPair]:
        snapshots = []
        for level in range(level_count):
            ba_pair = BidAskPair()
            bid = self.get_bid_level(level)
            if bid:
                ba_pair.bid_px = bid.price
                ba_pair.bid_sz = bid.size
                ba_pair.bid_ct = bid.count
            ask = self.get_ask_level(level)
            if ask:
                ba_pair.ask_px = ask.price
                ba_pair.ask_sz = ask.size
                ba_pair.ask_ct = ask.count
            snapshots.append(ba_pair)
        return snapshots

    def apply(
        self,
        ts_event: int,
        action: str,
        side: str,
        order_id: int,
        price: int,
        size: int,
        flags: db.RecordFlags,
    ) -> None:
        # Trade or Fill: no change
        if action == "T" or action == "F":
            return
        # Clear book: remove all resting orders
        if action == "R":
            self._clear()
            return
        # side=N is only valid with Trade, Fill, and Clear actions
        assert side == "A" or side == "B"
        # UNDEF_PRICE indicates the book level should be removed
        if price == UNDEF_PRICE and flags & db.RecordFlags.F_TOB:
            self._side_levels(side).clear()
            return
        # Add: insert a new order
        if action == "A":
            self._add(ts_event, side, order_id, price, size, flags)
        # Cancel: partially or fully cancel some size from a resting order
        elif action == "C":
            self._cancel(side, order_id, price, size)
        # Modify: change the price and/or size of a resting order
        elif action == "M":
            self._modify(ts_event, side, order_id, price, size, flags)
        else:
            raise ValueError(f"Unknown {action =}")

    def _clear(self):
        self.orders_by_id.clear()
        self.offers.clear()
        self.bids.clear()

    def _add(
        self,
        ts_event: int,
        side: str,
        order_id: int,
        price: int,
        size: int,
        flags: db.RecordFlags,
    ):
        order = Order(
            order_id,
            side,
            price,
            size,
            ts_event,
            is_tob=bool(flags & db.RecordFlags.F_TOB),
        )
        if order.is_tob:
            levels = self._side_levels(side)
            levels.clear()
            levels[price] = LevelOrders(price=price, orders=[order])
        else:
            level = self._get_or_insert_level(price, side)
            assert order_id not in self.orders_by_id
            self.orders_by_id[order_id] = order
            level.orders.append(order)

    def _cancel(
        self,
        side: str,
        order_id: int,
        price: int,
        size: int,
    ):
        order = self.orders_by_id[order_id]
        level = self._get_level(price, side)
        assert order.size >= size
        order.size -= size
        # If the full size is cancelled, remove the order from the book
        if order.size == 0:
            self.orders_by_id.pop(order_id)
            level.orders.remove(order)
            # If the level is now empty, remove it from the book
            if not level:
                self._remove_level(price, side)

    def _modify(
        self,
        ts_event: int,
        side: str,
        order_id: int,
        price: int,
        size: int,
        flags: db.RecordFlags,
    ):

        order = self.orders_by_id.get(order_id)
        if order is None:
            # If order not found, treat it as an add
            self._add(ts_event, side, order_id, price, size, flags)
            return
        assert order.side == side, f"Order {order} changed side to {side}"
        prev_level = self._get_level(order.price, side)
        if order.price != price:
            prev_level.orders.remove(order)
            if not prev_level:
                self._remove_level(order.price, side)
            level = self._get_or_insert_level(price, side)
            level.orders.append(order)
        else:
            level = prev_level
        # The order loses its priority if the price changes or the size increases
        if order.price != price or order.size < size:
            order.ts_event = ts_event
            level.orders.remove(order)
            level.orders.append(order)
        order.size = size
        order.price = price

    def _side_levels(self, side: str) -> SortedDict:
        if side == "A":
            return self.offers
        if side == "B":
            return self.bids
        raise ValueError(f"Invalid {side =}")

    def _get_level(self, price: int, side: str) -> LevelOrders:
        levels = self._side_levels(side)
        if price not in levels:
            raise KeyError(f"No price level found for {price =} and {side =}")
        return levels[price]

    def _get_or_insert_level(self, price: int, side: str) -> LevelOrders:
        levels = self._side_levels(side)
        if price in levels:
            return levels[price]
        level = LevelOrders(price=price)
        levels[price] = level
        return level

    def _remove_level(self, price: int, side: str):
        levels = self._side_levels(side)
        levels.pop(price)


@dataclass
class Market:
    books: defaultdict[int, defaultdict[int, Book]] = field(
        default_factory=lambda: defaultdict(lambda: defaultdict(Book)),
    )

    def get_books_by_pub(self, instrument_id: int) -> defaultdict[int, Book]:
        return self.books[instrument_id]

    def get_book(self, instrument_id: int, publisher_id: int) -> Book:
        return self.books[instrument_id][publisher_id]

    def bbo(
        self,
        instrument_id: int,
        publisher_id: int,
    ) -> tuple[PriceLevel | None, PriceLevel | None]:
        return self.books[instrument_id][publisher_id].bbo()

    def aggregated_bbo(
        self,
        instrument_id: int,
    ) -> tuple[PriceLevel | None, PriceLevel | None]:
        agg_bbo: list[PriceLevel | None] = [None, None]
        # max for bids, min for asks
        for idx, reducer in [(0, max), (1, min)]:
            all_best = [b.bbo()[idx] for b in self.books[instrument_id].values()]
            all_best = [b for b in all_best if b]
            if not all_best:
                continue
            best_price = reducer(b.price for b in all_best)
            best = [b for b in all_best if b.price == best_price]
            agg_bbo[idx] = PriceLevel(
                price=best_price,
                size=sum(b.size for b in best),
                count=sum(b.count for b in best),
            )
        return tuple(agg_bbo)

    def apply(self, mbo: db.MBOMsg):
        book = self.books[mbo.instrument_id][mbo.publisher_id]
        book.apply(
            ts_event=mbo.ts_event,
            action=mbo.action,
            side=mbo.side,
            order_id=mbo.order_id,
            price=mbo.price,
            size=mbo.size,
            flags=mbo.flags,
        )


class intraday_rec(IntEnum):
    timestamp = 0
    open = 1
    high = 2
    low = 3
    close = 4
    num_trades = 5
    total_vol = 6
    bid_vol = 7
    ask_vol = 8


class tas_rec(IntEnum):
    timestamp = 0
    price = 1
    qty = 2
    side = 3


bento_to_sierra_command_mapping = {
    "R": 1,  # clear book
    "AB": 2,  # add bid
    "AA": 3,  # add ask
    "MB": 4,  # modify bid
    "MA": 5,  # modify ask
    "CB": 6,  # cancel bid
    "CA": 7,  # cancel ask
}

sierra_to_bento_command_mapping = {
    v: k for k, v in bento_to_sierra_command_mapping.items()
}

sierra_global_epoch = datetime64("1899-12-30")

intraday_header_fmt = "4cIIHHI36c"
intraday_header_len = calcsize(intraday_header_fmt)

intraday_rec_fmt = "q4f4I"
intraday_rec_len = calcsize(intraday_rec_fmt)
intraday_rec_unpack = Struct(intraday_rec_fmt).unpack_from


def convert_sierra_timestamp_to_datetime(ts):
    return (
        (sierra_global_epoch + timedelta64(ts, "us"))
        .astype(datetime)
        .strftime("%Y-%m-%d %H:%M:%S.%f")
    )


def convert_to_sierra_timestamp(timestamp_str):
    sierra_epoch = sierra_global_epoch.tolist()
    sierra_epoch = datetime(
        sierra_epoch.year, sierra_epoch.month, sierra_epoch.day, tzinfo=timezone.utc
    )
    dt = datetime.fromisoformat(timestamp_str)
    # If dt is offset-naive, make it UTC aware
    if dt.tzinfo is None:
        dt = dt.replace(tzinfo=timezone.utc)
    time_diff = dt - sierra_epoch  # Both are now UTC aware
    microseconds = time_diff.total_seconds() * 1e6
    return int(microseconds)


def get_header_bytes(fd):
    return fd.read(intraday_header_len)


def parse_tas_header(fd):
    header_bytes = fd.read(intraday_header_len)
    print(f"header -> {header_bytes}")
    header = Struct(intraday_header_fmt).unpack_from(header_bytes)
    return header


def parse_market_depth_file(filepath):
    rows = []
    with open(filepath, "rb") as input_file:
        header = input_file.read(64)
        print(header)
        header = struct.unpack("4I48s", header)
        while True:
            current = {}
            tick = input_file.read(24)
            if not tick:
                break
            src = struct.unpack("qbbhfII", tick)
            current["timestamp"] = src[0]
            current["command"] = src[1]
            current["flag"] = src[2]
            current["orders"] = src[3]
            current["price"] = src[4]
            current["quantity"] = src[5]
            rows.append(current)
    return rows


def get_market_depth_df_from_depth_file(filepath):
    print(f"make_market_depth_df_from_filepath -> {filepath}")
    rows = parse_market_depth_file(filepath)
    res = pd.DataFrame(rows)
    res["ts"] = res.timestamp.apply(convert_sierra_timestamp_to_datetime)
    return res


def bento_to_scid(bento_zst_path, target_path):
    print("load file")
    if os.path.exists(bento_zst_path):
        data = db.DBNStore.from_file(bento_zst_path)
    else:
        raise ValueError(f"data file {bento_zst_path} not found.")
    print("convert to df")
    bento = data.to_df()
    print("make scid")
    ticks_to_scid(primary_to_ticks(bento_to_primary(bento)), target_path)


def bento_zst_to_depth(bento_zst_path, target_path, n_states=None):
    if os.path.exists(bento_zst_path):
        data = db.DBNStore.from_file(bento_zst_path)
    else:
        raise ValueError(f"data file {bento_zst_path} not found.")

    snapshot_size = 100  # number of levels bid/ask (200 total in this case)
    price_resolution = 1000000000  # as per bento docs

    init = True
    init_state = None
    counter = 0

    for first in data:
        break
    print(f"first -> {first}")
    instrument_id, publisher_id = first.instrument_id, first.publisher_id
    print(f"instrument_id -> {instrument_id}")
    print(f"publisher_id -> {publisher_id}")

    prev_timestamp = 0
    book_states = []

    market = Market()
    for mbo in ProgIter(data):
        market.apply(mbo)
        if mbo.flags & db.RecordFlags.F_LAST:
            diff = mbo.ts_event - prev_timestamp
            prev_timestamp = mbo.ts_event
            # check if within range of Sierra timestamps (if less than 1000 we need to aggregate the state)
            if diff < 1000:
                continue

            book = market.get_book(instrument_id, publisher_id).get_snapshot(
                snapshot_size
            )
            rows = [] if not init else [(0, 0, 0.0, "R")]
            for b in book:
                rows.append((b.bid_ct, b.bid_sz, b.bid_px / price_resolution, "B"))
                rows.append((b.ask_ct, b.ask_sz, b.ask_px / price_resolution, "A"))

            book_state = pd.DataFrame(rows)
            book_state.columns = ["orders", "quantity", "price", "side"]
            book_state = (
                book_state.sort_values("price", ascending=False)
                .reset_index()
                .drop(columns=["index"])
            )
            sierra_timestamp = (
                convert_to_sierra_timestamp(
                    str(pd.to_datetime(mbo.ts_event, unit="ns"))
                )
                // 1000
            ) * 1000
            book_state["timestamp"] = sierra_timestamp
            book_state = book_state[
                ["timestamp", "orders", "quantity", "price", "side"]
            ]
            # book_state['price'] = book_state.price.astype(float)
            book_state["command"] = ""

            if init:
                init_state = book_state
                init = False
                book_states.append(init_state[init_state.side != "R"])
                continue

            book_states.append(book_state)
            # time.sleep(.01)

            if n_states is None:
                continue

            counter += 1
            if counter >= n_states:
                print("n_states reached, break")
                break

    print("make init depth")
    init_depth = [
        (
            (r.timestamp, "R", 0, 0, 0.0, 0)
            if r.side == "R"
            else (r.timestamp, f"A{r.side}", 0, r.orders, r.price, r.quantity)
        )
        for r in init_state.itertuples()
    ]

    bento_depth = [] + init_depth
    max_states = n_states

    print("make depth (parse states)")
    for prev, current in ProgIter(
        zip(book_states[:max_states], book_states[1:max_states])
    ):
        current_depth = []
        current_timestamp = current.timestamp.unique()[0]
        prev_prices, current_prices = prev.price.unique(), current.price.unique()
        for r in prev.itertuples():
            if r.price not in current_prices:
                current_depth.append(
                    (current_timestamp, f"C{r.side}", 1, 0, r.price, 0)
                )
        for r in current.itertuples():
            if r.price not in prev_prices:
                current_depth.append(
                    (current_timestamp, f"A{r.side}", 1, r.orders, r.price, r.quantity)
                )
            else:
                prev_match = prev[prev.price == r.price].iloc[0]
                if prev_match.quantity == r.quantity and prev_match.orders == r.orders:
                    continue
                if prev_match.side != r.side:
                    current_depth.append(
                        (current_timestamp, f"C{prev_match.side}", 1, 0, r.price, 0)
                    )
                current_depth.append(
                    (current_timestamp, f"M{r.side}", 1, r.orders, r.price, r.quantity)
                )
        bento_depth += current_depth

    bento_depth = pd.DataFrame(bento_depth)
    bento_depth.columns = [
        "timestamp",
        "command",
        "flag",
        "orders",
        "price",
        "quantity",
    ]
    bento_depth["command"] = bento_depth.command.apply(
        lambda c: bento_to_sierra_command_mapping[c]
    )
    bento_depth["timestamp"] = bento_depth.timestamp.astype(int)
    print(f"shape bento_depth -> {bento_depth.shape}")
    first_ts, last_ts = convert_sierra_timestamp_to_datetime(
        bento_depth.timestamp.unique()[1]
    ), convert_sierra_timestamp_to_datetime(
        int(bento_depth.iloc[bento_depth.shape[0] - 1].timestamp)
    )
    print(f"first timestamp -> {first_ts}")
    print(f"last timestamp -> {last_ts}")
    depth_to_depth_file_for_sierra(bento_depth, target_path)


def bento_to_primary(bento):
    print("bento -> primary")
    bento["ts_event"] = bento.ts_event.astype(str)
    bento = bento.reset_index().drop(columns=["ts_recv"])
    cols_to_drop = [
        "ts_event",
        "rtype",
        "publisher_id",
        "instrument_id",
        "channel_id",
        "order_id",
        "ts_in_delta",
        "symbol",
    ]
    bento["timestamp"] = bento.ts_event.apply(convert_to_sierra_timestamp)
    bento["ts"] = bento.timestamp.apply(convert_sierra_timestamp_to_datetime)
    bento["ts"] = pd.to_datetime(bento.ts)
    bento = bento.drop(columns=cols_to_drop)
    bento = bento.rename(columns={"size": "size_"})
    bento = bento[bento.action != "T"]
    bento = bento[
        ["timestamp", "ts", "sequence", "flags", "price", "size_", "action", "side"]
    ]
    return bento


def primary_to_ticks(primary):
    print("primary -> ticks")
    ticks = primary[primary.action == "F"].copy()
    ticks["open"] = 0.0
    ticks["high"] = ticks.price
    ticks["low"] = ticks.price
    ticks["close"] = ticks.price
    ticks["num_trades"] = 1
    ticks["total_vol"] = ticks.size_
    ticks["bid_vol"] = ticks[["side", "size_"]].apply(
        lambda r: r.size if r.side == "B" else 0, axis=1
    )
    ticks["ask_vol"] = ticks[["side", "size_"]].apply(
        lambda r: r.size if r.side == "A" else 0, axis=1
    )
    ticks = ticks.drop(columns=["side", "price", "size_"])
    ticks = ticks.reset_index().drop(columns=["index"])
    return ticks


def ticks_to_scid(ticks, target_path):
    tas_recs = []
    for i in ProgIter(range(len(ticks))):
        tas_rec = (
            int(ticks.iloc[i].timestamp),
            ticks.iloc[i].open,
            ticks.iloc[i].high,
            ticks.iloc[i].low,
            ticks.iloc[i].close,
            int(ticks.iloc[i].num_trades),
            int(ticks.iloc[i].total_vol),
            int(ticks.iloc[i].bid_vol),
            int(ticks.iloc[i].ask_vol),
        )
        tas_recs.append(tas_rec)

    header = b"SCID8\x00\x00\x00(\x00\x00\x00\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00"
    print("write bytes to", target_path)
    tas_recs_bytes = header + b"".join(
        Struct(intraday_rec_fmt).pack(*rec) for rec in tas_recs
    )
    with open(target_path, "wb") as f:
        f.write(tas_recs_bytes)
    print("done.")


def depth_to_depth_file_for_sierra(depth, target_path):
    header = b"SCDD@\x00\x00\x00\x18\x00\x00\x00\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00"
    rec_format = "qbbhfII"
    recs = []
    for i in ProgIter(range(len(depth))):
        rec = (
            int(depth.iloc[i].timestamp),
            int(depth.iloc[i].command),
            int(depth.iloc[i].flag),
            int(depth.iloc[i].orders),
            float(depth.iloc[i].price),
            int(depth.iloc[i].quantity),
            0,
        )
        recs.append(rec)

    print("write bytes to", target_path)
    depth_bytes = header + b"".join(Struct(rec_format).pack(*rec) for rec in recs)
    with open(target_path, "wb") as f:
        f.write(depth_bytes)
    print("done.")

In [16]:
bento_zst_path="mes-bento-small.mbo.dbn.zst"
target_path="/home/darchitect/wine-bottles/SierraChart/drive_c/SierraChart/Data/MarketDepthData/bento-small.2024-06-20.depth"
n_states=10

In [17]:
def make_decision_command(r):
    if pd.isna(r.side_p):
        return "AC"
    if pd.isna(r.side_c):
        return "CP"
    if r.side_p != r.side_c:
        return "CPMC"
    if r.quantity_p != r.quantity_c or r.orders_p != r.orders_c:
        return "MC"
    return "0"

if os.path.exists(bento_zst_path):
    data = db.DBNStore.from_file(bento_zst_path)
else:
    raise ValueError(f"data file {bento_zst_path} not found.")

snapshot_size = 100  # number of levels bid/ask (200 total in this case)
price_resolution = 1000000000  # as per bento docs

init = True
init_state = None
counter = 0

for first in data:
    break
print(f"first -> {first}")
instrument_id, publisher_id = first.instrument_id, first.publisher_id
print(f"instrument_id -> {instrument_id}")
print(f"publisher_id -> {publisher_id}")

prev_timestamp = 0
bento_depth = []
prev = None

market = Market()
for mbo in ProgIter(data):
    market.apply(mbo)
    if mbo.flags & db.RecordFlags.F_LAST:
        diff = mbo.ts_event - prev_timestamp
        prev_timestamp = mbo.ts_event
        # check if within range of Sierra timestamps (if less than 1000 we need to aggregate the state)
        if diff < 1000:
            continue

        book = market.get_book(instrument_id, publisher_id).get_snapshot(
            snapshot_size
        )
        rows = [] if not init else [(0, 0, 0.0, "R")]
        for b in book:
            rows.append((b.bid_ct, b.bid_sz, b.bid_px / price_resolution, "B"))
            rows.append((b.ask_ct, b.ask_sz, b.ask_px / price_resolution, "A"))

        book_state = pd.DataFrame(rows)
        book_state.columns = ["orders", "quantity", "price", "side"]
        book_state = (
            book_state.sort_values("price", ascending=False)
            .reset_index()
            .drop(columns=["index"])
        )
        sierra_timestamp = (
            convert_to_sierra_timestamp(
                str(pd.to_datetime(mbo.ts_event, unit="ns"))
            )
            // 1000
        ) * 1000
        book_state["timestamp"] = sierra_timestamp
        book_state = book_state[
            ["timestamp", "orders", "quantity", "price", "side"]
        ]

        if init:
            init_state = book_state
            init = False
            prev = init_state[init_state.side != "R"]
            init_depth = [
                (
                    (r.timestamp, "R", 0, 0, 0.0, 0)
                    if r.side == "R"
                    else (
                        r.timestamp,
                        f"A{r.side}",
                        0,
                        r.orders,
                        r.price,
                        r.quantity,
                    )
                )
                for r in init_state.itertuples()
            ]
            bento_depth += init_depth
            continue

        current = book_state

        cols = ["orders", "quantity", "price", "side"]
        temp = pd.merge(
            prev[cols],
            current[cols],
            how="outer",
            on="price",
            suffixes=["_p", "_c"],
        )
        temp["decision"] = temp.apply(lambda r: make_decision_command(r), axis=1)

        current_depth = []
        current_timestamp = current.timestamp.unique()[0]
        for r in temp[temp.decision != "0"].itertuples():
            if r.decision == "CP":
                current_depth.append(
                    (current_timestamp, f"C{r.side_p}", 1, 0, r.price, 0)
                )
            elif r.decision == "AC":
                current_depth.append(
                    (
                        current_timestamp,
                        f"A{r.side_c}",
                        1,
                        r.orders_c,
                        r.price,
                        r.quantity_c,
                    )
                )
            elif r.decision == "CPMC":
                current_depth.append(
                    (current_timestamp, f"C{r.side_p}", 1, 0, r.price, 0)
                )
                current_depth.append(
                    (
                        current_timestamp,
                        f"A{r.side_c}",
                        1,
                        r.orders_c,
                        r.price,
                        r.quantity_c,
                    )
                )
            elif r.decision == "MC":
                current_depth.append(
                    (
                        current_timestamp,
                        f"M{r.side_c}",
                        1,
                        r.orders_c,
                        r.price,
                        r.quantity_c,
                    )
                )

        bento_depth += current_depth
        prev = current

        if n_states is None:
            continue

        counter += 1
        if counter >= n_states:
            print("n_states reached, break")
            break

bento_depth = pd.DataFrame(bento_depth)
bento_depth.columns = [
    "timestamp",
    "command",
    "flag",
    "orders",
    "price",
    "quantity",
]
bento_depth["command"] = bento_depth.command.apply(
    lambda c: bento_to_sierra_command_mapping[c]
)
bento_depth["timestamp"] = bento_depth.timestamp.astype(int)
bento_depth["orders"] = bento_depth.orders.astype(int)
bento_depth["quantity"] = bento_depth.quantity.astype(int)
print(f"shape bento_depth -> {bento_depth.shape}")
first_ts, last_ts = convert_sierra_timestamp_to_datetime(
    bento_depth.timestamp.unique()[1]
), convert_sierra_timestamp_to_datetime(
    int(bento_depth.iloc[bento_depth.shape[0] - 1].timestamp)
)
print(f"first timestamp -> {first_ts}")
print(f"last timestamp -> {last_ts}")
depth_to_depth_file_for_sierra(bento_depth, target_path)

first -> MboMsg { hd: RecordHeader { length: 14, rtype: Mbo, publisher_id: GlbxMdp3Glbx, instrument_id: 7114, ts_event: 1718539204680368535 }, order_id: 0, price: UNDEF_PRICE, size: 0, flags: SNAPSHOT | BAD_TS_RECV (40), channel_id: 8, action: 'R', side: 'N', ts_recv: 1718841600000000000, ts_in_delta: 0, sequence: 0 }
instrument_id -> 7114
publisher_id -> 1
    0/?... rate=0 Hz, total=0:00:00n_states reached, break
shape bento_depth -> (211, 6)
first timestamp -> 2024-06-20 00:00:00.006000
last timestamp -> 2024-06-20 00:00:00.055000
 100.00% 211/211... rate=8459.52 Hz, eta=0:00:00, total=0:00:00
write bytes to /home/darchitect/wine-bottles/SierraChart/drive_c/SierraChart/Data/MarketDepthData/bento-small.2024-06-20.depth
done.

In [22]:
bento_depth.tail(10)

            timestamp  command  flag  orders    price  quantity
201  3928003200006000        5     1       6  5563.00        13
202  3928003200006000        5     1       7  5563.00        14
203  3928003200006000        5     1       6  5563.00        13
204  3928003200012000        5     1       7  5563.00        17
205  3928003200012000        5     1       8  5563.00        18
206  3928003200013000        5     1      10  5563.00        21
207  3928003200052000        4     1      18  5562.25        40
208  3928003200054000        5     1       9  5563.00        19
209  3928003200055000        5     1       8  5563.00        16
210  3928003200055000        5     1       6  5563.00        14

In [94]:
bento_depth['ts'] = bento_depth.timestamp.apply(convert_sierra_timestamp_to_datetime)
bento_depth

,timestamp,command,flag,orders,price,quantity,ts
0,3928003199616000,3,0,4,5587.75,41,2024-06-19 23:59:59.616000
1,3928003199616000,3,0,3,5587.50,39,2024-06-19 23:59:59.616000
2,3928003199616000,3,0,3,5587.25,40,2024-06-19 23:59:59.616000
3,3928003199616000,3,0,7,5587.00,60,2024-06-19 23:59:59.616000
4,3928003199616000,3,0,4,5586.75,45,2024-06-19 23:59:59.616000
...,...,...,...,...,...,...,...
41130,3928007181067000,5,1,15,5567.25,35,2024-06-20 01:06:21.067000
41131,3928007181067000,5,1,16,5567.25,41,2024-06-20 01:06:21.067000
41132,3928007181132000,5,1,15,5567.25,35,2024-06-20 01:06:21.132000
41133,3928007181141000,5,1,16,5567.25,41,2024-06-20 01:06:21.141000
41134,3928007181141000,4,1,13,5567.00,33,2024-06-20 01:06:21.141000

In [95]:
sierra_depth = get_market_depth_df_from_depth_file('/home/darchitect/wine-bottles/SierraChart/drive_c/SierraChart/Data/MarketDepthData/MES-202409-CME-USD.2024-06-20.depth')
sierra_depth

make_market_depth_df_from_filepath -> /home/darchitect/wine-bottles/SierraChart/drive_c/SierraChart/Data/MarketDepthData/MES-202409-CME-USD.2024-06-20.depth
b'SCDD@\x00\x00\x00\x18\x00\x00\x00\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

,timestamp,command,flag,orders,price,quantity,ts
0,3928003200006000,1,0,0,0.00,0,2024-06-20 00:00:00.006000
1,3928003200006000,2,0,21,5562.75,55,2024-06-20 00:00:00.006000
2,3928003200006000,2,0,25,5562.50,65,2024-06-20 00:00:00.006000
3,3928003200006000,2,0,19,5562.25,52,2024-06-20 00:00:00.006000
4,3928003200006000,2,0,26,5562.00,66,2024-06-20 00:00:00.006000
...,...,...,...,...,...,...,...
8523126,3928089599895000,4,1,8,5546.75,8,2024-06-20 23:59:59.895000
8523127,3928089599909000,4,1,6,5522.50,43,2024-06-20 23:59:59.909000
8523128,3928089599909000,5,1,23,5552.50,68,2024-06-20 23:59:59.909000
8523129,3928089599909000,4,1,7,5546.75,7,2024-06-20 23:59:59.909000
8523130,3928089599909000,4,1,6,5546.75,6,2024-06-20 23:59:59.909000

In [96]:
#bento_depth[(bento_depth.ts.between('2024-06-20 01:01:40', '2024-06-20 01:01:42')) & (bento_depth.price == 5566.50)]
bento_depth[(bento_depth.timestamp >= 3928006900211000) & (bento_depth.price == 5566.50)].head(60)

,timestamp,command,flag,orders,price,quantity,ts
36520,3928006900211000,5,1,1,5566.5,3,2024-06-20 01:01:40.211000
36522,3928006901463000,7,1,0,5566.5,0,2024-06-20 01:01:41.463000
36523,3928006901463000,2,1,1,5566.5,3,2024-06-20 01:01:41.463000
36525,3928006901463000,4,1,2,5566.5,4,2024-06-20 01:01:41.463000
36526,3928006901463000,4,1,3,5566.5,7,2024-06-20 01:01:41.463000
36527,3928006901464000,4,1,4,5566.5,12,2024-06-20 01:01:41.464000
36528,3928006901464000,4,1,5,5566.5,16,2024-06-20 01:01:41.464000
36530,3928006901464000,4,1,6,5566.5,20,2024-06-20 01:01:41.464000
36531,3928006901464000,4,1,7,5566.5,21,2024-06-20 01:01:41.464000
36532,3928006901464000,4,1,8,5566.5,24,2024-06-20 01:01:41.464000
36543,3928006901657000,4,1,7,5566.5,20,2024-06-20 01:01:41.657000
36544,3928006901657000,4,1,6,5566.5,19,2024-06-20 01:01:41.657000
36546,3928006901657000,4,1,5,5566.5,15,2024-06-20 01:01:41.657000
36547,3928006901657000,4,1,4,5566.5,12,2024-06-20 01:01:41.657000
36550,3928006901807000,4,1,5,5566.5,15,2024-06-20 01:01:41.807000
36551,3928006901807000,4,1,7,5566.5,20,2024-06-20 01:01:41.807000
36552,3928006902088000,4,1,8,5566.5,21,2024-06-20 01:01:42.088000
36553,3928006902088000,4,1,9,5566.5,24,2024-06-20 01:01:42.088000
36554,3928006902088000,4,1,8,5566.5,23,2024-06-20 01:01:42.088000
36557,3928006903484000,4,1,9,5566.5,25,2024-06-20 01:01:43.484000
36559,3928006904232000,4,1,8,5566.5,22,2024-06-20 01:01:44.232000
36560,3928006905596000,4,1,7,5566.5,20,2024-06-20 01:01:45.596000
36561,3928006905628000,4,1,8,5566.5,26,2024-06-20 01:01:45.628000
36562,3928006905628000,4,1,9,5566.5,27,2024-06-20 01:01:45.628000
36563,3928006905628000,4,1,10,5566.5,29,2024-06-20 01:01:45.628000
36565,3928006905637000,4,1,9,5566.5,27,2024-06-20 01:01:45.637000
36567,3928006905713000,4,1,10,5566.5,29,2024-06-20 01:01:45.713000
36569,3928006905714000,4,1,11,5566.5,31,2024-06-20 01:01:45.714000
36570,3928006905921000,4,1,10,5566.5,29,2024-06-20 01:01:45.921000
36572,3928006905999000,4,1,9,5566.5,27,2024-06-20 01:01:45.999000
36574,3928006906182000,4,1,10,5566.5,29,2024-06-20 01:01:46.182000
36576,3928006906184000,4,1,11,5566.5,31,2024-06-20 01:01:46.184000
36580,3928006906435000,4,1,12,5566.5,37,2024-06-20 01:01:46.435000
36582,3928006906435000,4,1,13,5566.5,40,2024-06-20 01:01:46.435000
36588,3928006906621000,4,1,12,5566.5,37,2024-06-20 01:01:46.621000
36590,3928006906633000,4,1,13,5566.5,39,2024-06-20 01:01:46.633000
36608,3928006913445000,4,1,12,5566.5,38,2024-06-20 01:01:53.445000
36609,3928006913445000,4,1,13,5566.5,39,2024-06-20 01:01:53.445000
36614,3928006915162000,4,1,12,5566.5,33,2024-06-20 01:01:55.162000
36618,3928006915389000,4,1,13,5566.5,39,2024-06-20 01:01:55.389000
36619,3928006915389000,4,1,12,5566.5,33,2024-06-20 01:01:55.389000
36624,3928006916834000,4,1,13,5566.5,39,2024-06-20 01:01:56.834000
36626,3928006916834000,4,1,14,5566.5,40,2024-06-20 01:01:56.834000
36630,3928006916882000,4,1,15,5566.5,44,2024-06-20 01:01:56.882000
36633,3928006916883000,4,1,16,5566.5,59,2024-06-20 01:01:56.883000
36661,3928006916942000,4,1,17,5566.5,63,2024-06-20 01:01:56.942000
36680,3928006917403000,4,1,18,5566.5,64,2024-06-20 01:01:57.403000
36730,3928006917515000,4,1,19,5566.5,65,2024-06-20 01:01:57.515000
36731,3928006917515000,4,1,20,5566.5,66,2024-06-20 01:01:57.515000
36767,3928006917516000,4,1,21,5566.5,77,2024-06-20 01:01:57.516000
36802,3928006917519000,4,1,20,5566.5,66,2024-06-20 01:01:57.519000
36809,3928006917520000,4,1,21,5566.5,78,2024-06-20 01:01:57.520000
36820,3928006917523000,4,1,20,5566.5,66,2024-06-20 01:01:57.523000
37064,3928006918464000,4,1,21,5566.5,79,2024-06-20 01:01:58.464000
37069,3928006918465000,4,1,20,5566.5,66,2024-06-20 01:01:58.465000
37308,3928006928187000,4,1,21,5566.5,67,2024-06-20 01:02:08.187000
37356,3928006931716000,4,1,22,5566.5,78,2024-06-20 01:02:11.716000
37369,3928006932258000,4,1,21,5566.5,67,2024-06-20 01:02:12.258000
37418,3928006933837000,4,1,22,5566.5,80,2024-06-20 01:02:13.837000
37422,3928006933930000,4,1,21,5566.5,67,2024-06-20 01:02:13.930000

In [97]:
#sierra_depth[(sierra_depth.ts.between('2024-06-20 01:01:40', '2024-06-20 01:01:42')) & (sierra_depth.price == 5566.50)].head(60)
sierra_depth[(sierra_depth.timestamp >= 3928006900211000) & (sierra_depth.price == 5566.50)].head(60)

,timestamp,command,flag,orders,price,quantity,ts
51302,3928006900211000,5,1,1,5566.5,3,2024-06-20 01:01:40.211000
51305,3928006901463000,2,0,1,5566.5,3,2024-06-20 01:01:41.463000
51306,3928006901463000,7,1,0,5566.5,0,2024-06-20 01:01:41.463000
51307,3928006901463000,4,1,2,5566.5,4,2024-06-20 01:01:41.463000
51308,3928006901463000,4,1,3,5566.5,7,2024-06-20 01:01:41.463000
51309,3928006901464000,4,1,4,5566.5,12,2024-06-20 01:01:41.464000
51310,3928006901464000,4,1,5,5566.5,16,2024-06-20 01:01:41.464000
51312,3928006901464000,4,1,6,5566.5,20,2024-06-20 01:01:41.464000
51313,3928006901464000,4,1,7,5566.5,21,2024-06-20 01:01:41.464000
51314,3928006901464000,4,1,8,5566.5,24,2024-06-20 01:01:41.464000
51329,3928006901657000,4,1,7,5566.5,20,2024-06-20 01:01:41.657000
51330,3928006901657000,4,1,6,5566.5,19,2024-06-20 01:01:41.657000
51332,3928006901657000,4,1,5,5566.5,15,2024-06-20 01:01:41.657000
51333,3928006901657000,4,1,4,5566.5,12,2024-06-20 01:01:41.657000
51336,3928006901807000,4,1,5,5566.5,15,2024-06-20 01:01:41.807000
51337,3928006901807000,4,1,6,5566.5,19,2024-06-20 01:01:41.807000
51338,3928006901807000,4,1,7,5566.5,20,2024-06-20 01:01:41.807000
51339,3928006902088000,4,1,8,5566.5,21,2024-06-20 01:01:42.088000
51340,3928006902088000,4,1,9,5566.5,24,2024-06-20 01:01:42.088000
51341,3928006902088000,4,1,8,5566.5,23,2024-06-20 01:01:42.088000
51344,3928006903484000,4,1,9,5566.5,25,2024-06-20 01:01:43.484000
51346,3928006904232000,4,1,8,5566.5,22,2024-06-20 01:01:44.232000
51347,3928006905596000,4,1,7,5566.5,20,2024-06-20 01:01:45.596000
51348,3928006905628000,4,1,8,5566.5,26,2024-06-20 01:01:45.628000
51349,3928006905628000,4,1,9,5566.5,27,2024-06-20 01:01:45.628000
51350,3928006905628000,4,1,10,5566.5,29,2024-06-20 01:01:45.628000
51352,3928006905637000,4,1,9,5566.5,27,2024-06-20 01:01:45.637000
51354,3928006905713000,4,1,10,5566.5,29,2024-06-20 01:01:45.713000
51356,3928006905714000,4,1,11,5566.5,31,2024-06-20 01:01:45.714000
51357,3928006905921000,4,1,10,5566.5,29,2024-06-20 01:01:45.921000
51359,3928006905999000,4,1,9,5566.5,27,2024-06-20 01:01:45.999000
51361,3928006906182000,4,1,10,5566.5,29,2024-06-20 01:01:46.182000
51363,3928006906184000,4,1,11,5566.5,31,2024-06-20 01:01:46.184000
51367,3928006906435000,4,1,12,5566.5,37,2024-06-20 01:01:46.435000
51369,3928006906435000,4,1,13,5566.5,40,2024-06-20 01:01:46.435000
51377,3928006906621000,4,1,12,5566.5,37,2024-06-20 01:01:46.621000
51379,3928006906633000,4,1,13,5566.5,39,2024-06-20 01:01:46.633000
51400,3928006913445000,4,1,12,5566.5,38,2024-06-20 01:01:53.445000
51401,3928006913445000,4,1,13,5566.5,39,2024-06-20 01:01:53.445000
51406,3928006915162000,4,1,12,5566.5,33,2024-06-20 01:01:55.162000
51411,3928006915389000,4,1,13,5566.5,39,2024-06-20 01:01:55.389000
51412,3928006915389000,4,1,12,5566.5,33,2024-06-20 01:01:55.389000
51417,3928006916834000,4,1,13,5566.5,39,2024-06-20 01:01:56.834000
51420,3928006916834000,4,1,14,5566.5,40,2024-06-20 01:01:56.834000
51423,3928006916882000,4,1,15,5566.5,44,2024-06-20 01:01:56.882000
51429,3928006916883000,4,1,16,5566.5,59,2024-06-20 01:01:56.883000
51457,3928006916942000,4,1,17,5566.5,63,2024-06-20 01:01:56.942000
51482,3928006917403000,4,1,18,5566.5,64,2024-06-20 01:01:57.403000
51539,3928006917515000,4,1,19,5566.5,65,2024-06-20 01:01:57.515000
51540,3928006917515000,4,1,20,5566.5,66,2024-06-20 01:01:57.515000
51592,3928006917516000,4,1,21,5566.5,77,2024-06-20 01:01:57.516000
51635,3928006917519000,4,1,20,5566.5,66,2024-06-20 01:01:57.519000
51643,3928006917520000,4,1,21,5566.5,78,2024-06-20 01:01:57.520000
51655,3928006917523000,4,1,20,5566.5,66,2024-06-20 01:01:57.523000
51942,3928006918464000,4,1,21,5566.5,79,2024-06-20 01:01:58.464000
51948,3928006918465000,4,1,20,5566.5,66,2024-06-20 01:01:58.465000
52249,3928006928187000,4,1,21,5566.5,67,2024-06-20 01:02:08.187000
52298,3928006931716000,4,1,22,5566.5,78,2024-06-20 01:02:11.716000
52313,3928006932258000,4,1,21,5566.5,67,2024-06-20 01:02:12.258000
52365,3928006933837000,4,1,22,5566.5,80,2024-06-20 01:02:13.837000

In [98]:
prev, current = temp_books[3928006900211000], temp_books[3928006901463000]

In [99]:
prev[prev.price == 5566.5]

           timestamp  orders  quantity   price side
99  3928006900211000       1         3  5566.5    A

In [100]:
current[current.price == 5566.5]

            timestamp  orders  quantity   price side
100  3928006901463000       3         7  5566.5    B

In [101]:
cols = ['orders', 'quantity', 'price', 'side']
temp = pd.merge(prev[cols], current[cols], how='outer', on='price', suffixes=['_p', '_c'])
temp['decision'] = temp.apply(
    lambda r: make_decision(r),
    axis=1
)
temp[temp.price == 5566.5]

     orders_p  quantity_p   price side_p  orders_c  quantity_c side_c decision
100       1.0         3.0  5566.5      A       3.0         7.0      B     CPMC

In [102]:
current_depth = []
current_timestamp = current.timestamp.unique()[0]
for r in temp[temp.decision != '0'].itertuples():
    if r.decision == 'CP':
        current_depth.append((current_timestamp, f"C{r.side_p}", 1, 0, r.price, 0))
    elif r.decision == 'AC':
        current_depth.append((current_timestamp, f"A{r.side_c}", 1, r.orders_c, r.price, r.quantity_c))
    elif r.decision == 'CPMC':
        current_depth.append((current_timestamp, f"C{r.side_p}", 1, 0, r.price, 0))
        current_depth.append((current_timestamp, f"A{r.side_c}", 1, r.orders_c, r.price, r.quantity_c))
    elif r.decision == 'MC':
        current_depth.append((current_timestamp, f"M{r.side_c}", 1, r.orders_c, r.price, r.quantity_c))

current_depth = pd.DataFrame(current_depth, columns=[
    "timestamp",
    "command",
    "flag",
    "orders",
    "price",
    "quantity"]
)
current_depth[current_depth.price == 5566.5]

          timestamp command  flag  orders   price  quantity
1  3928006901463000      CA     1     0.0  5566.5       0.0
2  3928006901463000      AB     1     3.0  5566.5       7.0