In [2]:
import phitech.helpers.sierra as pth_sierra
import pandas as pd
import matplotlib.pyplot as plt

In [28]:
sierra_primary = pth_sierra.sierra_to_primary_ticks('../data/MES-202406-CME-USD.scid', '2024-06-04')
sierra_primary

header -> b'SCID8\x00\x00\x00(\x00\x00\x00\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

,timestamp,ts,price,side,action,size
0,3927484800090000,2024-06-04 00:00:00.090000,5437.50,B,F,2
1,3927484800090001,2024-06-04 00:00:00.090001,5437.50,B,F,1
2,3927484800090002,2024-06-04 00:00:00.090002,5437.50,B,F,1
3,3927484800090003,2024-06-04 00:00:00.090003,5437.50,B,F,1
4,3927484800090004,2024-06-04 00:00:00.090004,5437.50,B,F,1
...,...,...,...,...,...,...
344570,3927560397291000,2024-06-04 20:59:57.291000,5435.75,A,F,1
344571,3927560397291001,2024-06-04 20:59:57.291001,5435.75,A,F,1
344572,3927560397291002,2024-06-04 20:59:57.291002,5435.75,A,F,1
344573,3927560398341000,2024-06-04 20:59:58.341000,5435.50,A,F,3
344574,3927560398725000,2024-06-04 20:59:58.725000,5435.50,A,F,1

In [5]:
bento = pd.read_csv('../data/bento_small.csv')
primary = pth_sierra.bento_to_primary(bento)
ticks = pth_sierra.primary_to_ticks(primary)
pth_sierra.ticks_to_scid(ticks, '../data/bento-small.scid')

 100.00% 54489/54489... rate=3476.35 Hz, eta=0:00:00, total=0:00:15
write bytes to ../data/bento-small.scid
done.